body {
  font-family: Calibri, Helvetica;
  font-size: 14px;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

table {
  margin: 0;
  padding: 0;
}

table th,
table td {
  padding-right: 10px;
  text-align: left;
}

table .amount {
  text-align: right;
}

input[type="date"],
select {
  box-sizing:content-box;
  border-radius: 0px;
  height: 30px;
  margin: 5px 0;
  width: 280px;
}

input[type="text"],
input[type="number"]{
  -webkit-appearance: none;
  border: 1px solid #999;
  border-radius: 0px;
  box-sizing: content-box;
  height: 30px;
  margin: 5px 0px;
  width: 280px;
}

input[type="number"].half-width {
  width: 140px;
}

button.green {
  background-color: #68B82E;
  border: 1px solid #60a62e;
  border-radius: 0px;
  color: #fff;
  margin: 0px;
  padding: 5px 40px;
  width: 280px;
}

button.blue {
  background-color: #49A7EB;
  border: 1px solid #327AAD;
  border-radius: 0px;
  color: #fff;
  margin: 0px;
  padding: 5px 40px;
  width: 280px;
}

.history_table {
  border-collapse: collapse;
  margin-top: 20px;
  width: 100%;
}

.history_table .first_row {
  border-bottom: 1px solid #666;
}

.history_table .first_row .amount_header {
  text-align: right;
}

.history_table .amount:before {
  content: '$';
}
